* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
/* common css start*/
.container {
    max-width: 1240px;
    margin: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.gapping_container {
    padding: 60px 0;
}

.common_btn {
    background-color: rgba(29, 78, 216, 1);
    border: none;
    border-radius: 10px;
    padding: 12px 40px;
}

.common_btn a {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
}
/* common css end */
/* navber section start  */
.header {
    background-color: #ffff;
    position: sticky;
    top: 0;
}

.nav_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu ul li {
    display: inline;
    margin: 0 25px;
}

.menu ul li a {
    font-size: 1rem;
    font-weight: 400;
    line-height: 25.6px;
    color: rgba(87, 87, 87, 1);
}

.menu ul li a:hover {
    border-bottom: 2px dotted rgba(87, 87, 87, 1);
}

/* navber section end */
/* hero section start */
.hero_root {
    background-image: linear-gradient(212.61deg, rgba(0, 0, 0, 0) 42.9%, rgba(0, 0, 0, 0.88) 82.18%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%), url(../assets/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_main {
    text-align: center;
    padding: 136px 0 80px 0;
}

.hero_main h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -3.2px;
    color: rgba(255, 255, 255, 1);
}

.hero_main p {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 270px;
    padding: 18px 0 280px 0;
}

.hero_main button {
    padding: 25px 60px;
}

.hero_main button a {
    font-size: 24px;
}

/* hero section end */
/* Meet the Speakers section start */
.speakers_root{
    padding: 40px 0 170px;
}
.speakers_head{
    margin: 40px 0 55px;
}
.speakers_head h1{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 64.4px;
    text-align: center;
    color: rgba(0, 1, 2, 1);
}
.speakers_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.speakers_cart{
    margin-bottom: 35px;
    border-radius: 12px;
    border: 1px solid rgba(229, 231, 235, 1);
}
.speakers_cart span{
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(37, 99, 235, 1);
}
.speakers_cart h5{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 27px;
    color: rgba(13, 27, 42, 1);
}
.speakers_cart p{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 21px;
    color: rgba(87, 87, 87, 1);
}
.speakers_cart_text{
    padding: 25px 0 25px 25px;
}
/* Meet the Speakers section end  */
/* pricing section start */

/* pricing section end  */