*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1240px;
    margin: auto;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}
.gapping_container{
    padding: 60px 0 ;
}
.common_btn{
    background-color: rgba(29, 78, 216, 1);
    border: none;
    border-radius: 10px;
    padding: 12px 40px;
}
.common_btn a{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 1);
}
/* common css end */
/* navber section start  */
.nav_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.menu ul li {
    display: inline;
    margin: 0 25px;
}
.menu ul li a{
    font-size: 1rem;
    font-weight: 400;
    line-height: 25.6px;
    color: rgba(87, 87, 87, 1);
}
.menu ul li a:hover{
    border-bottom: 2px dotted rgba(87, 87, 87, 1);
}

/* navber section end */